<div class="container-fluid">
    <div class="row">
    	<h4>Gallery </h4>
        <div class="col-xs-4" ng-repeat="gallery in gallerys">
            <h4>{{gallery.name}}</h4>
            <p>HTML is a markup language that is used for creating web pages. The HTML tutorial section will help you understand the basics of HTML, so that you can create your own web pages or website.</p>
            <p><a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
        </div>
        <!--div class="add-btn" role="button" tabindex="0"><div class="block"><svg width="100%" height="100%" viewBox="0 0 48 48"><path d="M26 14h-4v8h-8v4h8v8h4v-8h8v-4h-8v-8zM24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 36c-8.82 0-16-7.18-16-16S15.18 8 24 8s16 7.18 16 16-7.18 16-16 16z"></path></svg></div><div class="Pjg9Lb">Create a collection</div></div -->
        <div class="arrows">
            <a href="#" ng-click="prev()">
                <img src="img/left-arrow.png" />
            </a>
            <a href="#" ng-click="next()">
                <img src="img/right-arrow.png" />
            </a>
        </div>
    </div>
    <hr>
</div>
