<div class="container-fluid">

  	<div class="row">
  		<div class="col-md-3"> 
	  		<div class="dashboard dashboard-left">
	       
		        <div class="DashboardProfileCard  module">
					 <a class="DashboardProfileCard-bg u-bgUserColor u-block" href="/ajay_donode" tabindex="-1" aria-hidden="true">
					 </a>

			    	<div class="DashboardProfileCard-content">
			          <a class="DashboardProfileCard-avatarLink u-inlineBlock" href="/ajay_donode" title="Ajay Dnex" tabindex="-1" aria-hidden="true">
			            <img class="DashboardProfileCard-avatarImage js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/378800000107983641/e07f88f9eee6a64ab1cc0c69dd1ff314_bigger.jpeg" alt="">
			          </a>

				      <div class="DashboardProfileCard-userFields">
				        <div class="DashboardProfileCard-name u-textTruncate">
				          <a class="u-textInheritColor" href="/ajay_donode">Ajay Dnex</a>
				        </div>
				        <span class="DashboardProfileCard-screenname u-inlineBlock u-dir" dir="ltr">
				          <a class="DashboardProfileCard-screennameLink u-linkComplex u-linkClean" href="/ajay_donode">@<span class="u-linkComplex-target">ajay_donode</span></a>
				        </span>
				      </div>
				    </div>
	  			</div>
	  		</div>


    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Menu Item 1</a></li>
            <li><a href="#">Menu Item 2</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li><a href="#">Menu Item 4</a></li>
            <li><a href="#">Feedback and Reviews <span class="badge">1,118</span></a></li>
          </ul>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col-md-6"> 
  			<div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref=".profile"><span>1</span> Profile</a>
              <a ui-sref-active="active" ui-sref=".interests"><span>2</span> Interests</a>
              <a ui-sref-active="active" ui-sref=".payment"><span>3</span> Payment</a>
          </div>
   </div>
  <div class="col-md-3">.col-md-1</div>
</div>