<div class="profile">
    <!--div ng-if="isAuthenticated() && currentUser.username">
    <div class="row">
      <div ng-repeat="photo in photos" class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#/photo/{{photo.id}}">
          <img ng-src="{{photo.images.standard_resolution.url}}" class="thumbnail img-responsive">
        </a>
      </div>
    </div>
  </div>

  <div ng-if="!isAuthenticated()">
    <div class="jumbotron">
      <h2><i class="ion-images"></i> Panya Galary Service</h2>
      <p>This is a basic Instagram clone powered by <strong>Satellizer</strong>. To continue, please log in with your Instagram account or create a new email account.</p>
      <p>
        <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Log in</a>
        <a class="btn btn-lg btn-primary" href="#/signup"><i class="ion-person-add"></i> Create account</a>
      </p>
    </div>
  </div>

  <div ng-if="isAuthenticated() && !currentUser.username" class="center-form panel">
    <div class="panel-body">
      <h5 class="text-center"><i class="ion-link"></i> Link Account</h5>
      <p>To complete the registration process you must link your Instagram account.</p>
      <button class="btn btn-block btn-instagram" ng-click="linkInstagram()">
        <i class="ion-social-instagram"></i> Sign in with Instagram
      </button>
    </div>
  </div -->
    <div class="profile-card">
        <div class="profile-card__door">
            <div class="profile-card__front">
                <img src="https://pbs.twimg.com/profile_images/378800000107983641/e07f88f9eee6a64ab1cc0c69dd1ff314.jpeg" alt="" class="profile-card__avatar">
                <div>
                    <a ng-click="uploadCover" class="btn">
                        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"> </span>
                    </a>
                </div>
                <p>{{currentUser.name}} {{currentUser.lastname}}</p>
            </div>
        </div>
        <div>
            <a ng-click="uploadCover()" class="btn upload">
                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"> Upload </span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2" style="padding-right: 0">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-collapse collapse sidebar-navbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#"><span class="glyphicon glyphicon-inbox"></span> Messages</a></li>
                            <li><a href="#/gallery"><span class="glyphicon glyphicon-th-list">Gallary</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Menu Item 4</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-comment"> Reviews<span class="badge">20</span></a></li>
                            <br>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="col-sm-8" style="padding-left: 0">
            <div class="ProfileCanopy-navBar">
            </div>
            <div class="container">
                <div class="center-form panel">
                    <div class="panel-body">
                        <div ng-show="saveSuccess">Profile Created Successfully</div>
                        <h4 class="text-center"><i class="ion-person-add"></i> Create Publisher Profile</h4>
                        <form method="post" ng-submit="createProfile()" name="profileForm" ng-init="init()">
                            <div class="form-group has-feedback" ng-class="{ 'has-error' : profile.name.$invalid && profile.name.$dirty }">
                                <input class="form-control input-lg" type="text" id="name" name="name" ng-model="profile.name" placeholder="Profile Name" required>
                                <span class="ion-at form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback" ng-class="{ 'has-error' : profile.description.$invalid && profileForm.description.$dirty }">
                                <textarea class="form-control input-lg" type="text" id="description" name="profile.description" ng-model="profile.description" placeholder="Profile Description" required> </textarea>
                                <span class="ion-at form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback" ng-class="{ 'has-error' : profile.category.$invalid && profile.category.$dirty }">
                                <select class="form-control input-lg" id="category" ng-model="profile.category" ng-options="category.name for category in categories" required="">
                                        <option value="">Select Category</option>
                                    </select>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-lg btn-success">Submit</button>
                                <button type="button" ng-click="reset()" class="btn btn-warning btn-lg" ng-disabled="myForm.$pristine">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="padding-right: 0">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-collapse collapse sidebar-navbar">
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <modal title="Upload Cover" visible="showModal" width="100%">
            <span>Select cover Image</span>
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <label>Image uploader</label>
                <div class="fileinput-new thumbnail">
                    <img data-src="" src="/assets/example/bg_suburb.jpg" class="img-responsive">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                <div>
                    <span class="btn btn-default btn-file"><span class="fileinput-new">Select image...</span><span class="fileinput-exists">Change</span>
                    <input type="file" name="...">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
            </div>
        </modal>
    </div>
